{% extends 'base.html' %}
{% load static %}
{% block css %}
    <title>IQDent - Каталог</title>
    <meta name="title" content="IQDent - Каталог"/>
    <meta name="description" content="Алмазные боры - классификация и употребление"/>
    <meta property="og:title" content="IQDent - Каталог"/>
    <meta property="og:description" content="Алмазные боры - классификация и употребление"/>
    <meta property="twitter:title" content="IQDent - Каталог"/>
    <meta property="twitter:description" content="Алмазные боры - классификация и употребление"/>
{% endblock %}
{% block content %}
    <div class="wrapper">
        <nav id="nav" class="bg-darkBlue py-2.5 w-full fixed top-0 left-0 z-50 ">
            <div class="container flex items-center justify-between">
                <a href="/" class="w-[120px] h-8 block lg:w-[140px] lg:h-10">
                    <img class="w-full h-full block object-contain logo-white" src="{% static 'image/logowhite.png' %}"
                         alt="IQDENT Logo">
                    <img class="w-full h-full block object-contain hidden logo-dark"
                         src="{% static 'image/logodark.png' %}"
                         alt="IQDENT Logo">
                </a>
                <ul class="flex items-center max-md:py-20 max-md:text-xl max-md:text-xl  lg:text-lg max-md:px-6 max-md:w-[300px]  gap-4 max-md:flex-col text-white nav-list font-inter max-md:fixed z-[9999] max-md:bg-darkBlue max-md:top-0 duration-300 max-md:-right-full max-md:h-screen">
                    <li class="relative hover:before:w-1/2 before:w-0 before:h-[3px] before:rounded-s before:duration-200 before:bg-white before:absolute before:-bottom-2 md:before:-bottom-4 before:right-1/2   hover:after:w-1/2 after:w-0 after:h-[3px] after:rounded-e after:duration-200 after:bg-white after:absolute after:-bottom-2 md:after:-bottom-4 after:left-1/2  md:px-3  duration-300">
                        <a href="{% url 'home' %}">Главная</a>
                    </li>
                    <li class="relative hover:before:w-1/2 before:w-0 before:h-[3px] before:rounded-s before:duration-200 before:bg-white before:absolute before:-bottom-2 md:before:-bottom-4 before:right-1/2   hover:after:w-1/2 after:w-0 after:h-[3px] after:rounded-e after:duration-200 after:bg-white after:absolute after:-bottom-2 md:after:-bottom-4 after:left-1/2  md:px-3  duration-300">
                        <a href="{% url 'about' %}">О нас</a>
                    </li>
                    <li class="relative before:w-1/2 before:h-[3px] before:rounded-s before:duration-200 before:bg-white before:absolute before:-bottom-2 md:before:-bottom-4 before:right-1/2   after:w-1/2 after:h-[3px] after:rounded-e after:duration-200 after:bg-white after:absolute after:-bottom-2 md:after:-bottom-4 after:left-1/2  md:px-3  duration-300">
                        <a href="{% url 'products' %}">Каталог</a>
                    </li>
                    <li class="relative hover:before:w-1/2 before:w-0 before:h-[3px] before:rounded-s before:duration-200 before:bg-white before:absolute before:-bottom-2 md:before:-bottom-4 before:right-1/2   hover:after:w-1/2 after:w-0 after:h-[3px] after:rounded-e after:duration-200 after:bg-white after:absolute after:-bottom-2 md:after:-bottom-4 after:left-1/2  md:px-3  duration-300">
                        <a href="{% url 'certificates' %}">Сертификаты</a>
                    </li>
                    <li class=" duration-300 py-1 px-4 border w-fit border-white hover:bg-white hover:text-darkBlue">
                        <a href="tel:+998900001234">Контакты</a>
                    </li>
                    <div class="absolute top-5 right-5 w-6 h-6 z-10 nav-close md:hidden ">
                        <i data-lucide="x" class="w-full h-full"></i>
                    </div>
                </ul>
                <div class="w-full h-screen absolute top-0 left-0 right-0 bg-darkBlue/50 z-[20] hidden nav-bg"></div>
                <div class="w-6 h-6 md:hidden nav-menu">
                    <svg viewBox="0 0 24 24" class="w-full h-full text-white " fill="currentColor"
                         xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                              d="M4 5C3.44772 5 3 5.44772 3 6C3 6.55228 3.44772 7 4 7H20C20.5523 7 21 6.55228 21 6C21 5.44772 20.5523 5 20 5H4ZM7 12C7 11.4477 7.44772 11 8 11H20C20.5523 11 21 11.4477 21 12C21 12.5523 20.5523 13 20 13H8C7.44772 13 7 12.5523 7 12ZM13 18C13 17.4477 13.4477 17 14 17H20C20.5523 17 21 17.4477 21 18C21 18.5523 20.5523 19 20 19H14C13.4477 19 13 18.5523 13 18Z"/>
                    </svg>
                </div>
            </div>
        </nav>
        <section class="mt-14 pt-8 md:pt-[30px] pb-10 md:pb-20 min-h-[90vh]">
            <div class="container">
                <h2 class="section-title after:!hidden mb-4 " data-aos="fade-up">Каталог</h2>
                <div class="flex flex-wrap gap-3 lg:gap-5 mb-4 md:mb-8">
                    {% for category in categories %}
                        <button class="category-link py-2 px-2.5 font-mulish text-sm lg:text-base"
                                data-category="{{ category.name }}" data-aos="fade-up"
                                data-aos-delay="50">{{ category.name }}
                        </button>
                    {% endfor %}

                </div>
                <div id="products-container"
                     class="w-full grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-3 xl:gap-5">
                    {% for i in products %}
                        <a href="{% url 'product' i.id %}"
                           class="bg-[#FEFEFE] block border border-[#232D371A] flex flex-col items-center gap-y-2 md:gap-y-4 xl:gap-y-6 pt-6 pb-3 xl:pt-10 xl:pb-4 duration-300 hover:shadow-md relative "
                           data-aos="fade-up">
                            {% if i.stock %}
                                <div class="absolute top-0 right-0 py-1 px-3 bg-green-600 rounded-bl-lg text-sm font-medium text-white">
                                    В наличии
                                </div>
                            {% else %}
                                <div class="absolute top-0 right-0 py-1 px-3 bg-red-600 rounded-bl-lg text-sm font-medium text-white">
                                    Нет в наличии
                                </div>
                            {% endif %}
                            <img class="md:aspect-[5/14] aspect-[5/11] md:w-[100px] w-[70px]"
                                 src="{{ i.image.url }}" alt="Product Image ">
                            <p class="text-sm max-md:max-w-[140px] text-center md:text-base ">{{ i.name }}, {{ i.iso_number }}</p>
                        </a>
                    {% endfor %}
                </div>
            </div>
        </section>
        {% include 'footer.html' %}
    </div>
{% endblock %}
{% block js %}
    <script>
        AOS.init();
    </script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const categoryLinks = document.querySelectorAll('.category-link');
            const productsContainer = document.getElementById('products-container');
            if (categoryLinks.length > 0) {
                const firstLink = categoryLinks[0];
                firstLink.classList.remove('bg-white', 'border', 'border-[#232D3733]', 'text-darkBlue');
                firstLink.classList.add('bg-darkBlue', 'text-white');
            }
            categoryLinks.forEach(link => {
                link.addEventListener('click', function () {
                    const categoryName = this.getAttribute('data-category');
                    categoryLinks.forEach(link => {
                        link.classList.remove('bg-darkBlue', 'text-white');
                        link.classList.add('bg-white', 'border', 'border-[#232D3733]', 'text-darkBlue');
                    });

                    // Bosilgan category-ga active classlarini qo'shish
                    this.classList.remove('bg-white', 'border', 'border-[#232D3733]', 'text-darkBlue');
                    this.classList.add('bg-darkBlue', 'text-white');

                    // API-ga AJAX so'rovi yuborish
                    fetch(`/product/products/?cat=${categoryName}`)
                        .then(response => response.json())
                        .then(data => {
                            // Mahsulotlar ro'yxatini tozalash
                            productsContainer.innerHTML = '';

                            // Olingan mahsulotlarni DOMga qo'shish
                            data.products.forEach(product => {
                                const productElement = `
                            <a href="/product/${product.id}"
                               class="bg-[#FEFEFE] block border border-[#232D371A] flex flex-col items-center gap-y-2 md:gap-y-4 xl:gap-y-6 pt-6 pb-3 xl:pt-10 xl:pb-4 duration-300 hover:shadow-md"
                               data-aos="fade-up">
                                <img class="md:aspect-[5/14] aspect-[5/11] md:w-[100px] w-[70px]"
                                     src="${product.image_url}" alt="Product Image">
                                <p class="text-sm max-md:max-w-[140px] text-center md:text-base ">${product.name}, ${product.iso_number}</p>
                            </a>
                        `;
                                productsContainer.insertAdjacentHTML('beforeend', productElement);
                            });
                        })
                        .catch(error => {
                            console.error('Xato yuz berdi:', error);
                        });
                });
            });
        });
        lucide.createIcons();
    </script>
{% endblock %}